body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  background: linear-gradient(135deg, #1e5799 0%, #2989d8 50%, #413490 100%);
}

.searchBar img,
.contact-footer img,
.contact-header img {
  width: 30px;
  height: 30px;
}



.contactList {
  min-width: 450px;
}


